@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: skyblue;
    font-family: 'Roboto', sans-serif;
}
h1,
h3,
p {
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.container-title {
    color: white;
    background-color: green;
    text-align: center;
}
.container-cards {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
}
.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(203, 231, 203);
}
.card img {
    width: 50%;
    border-radius: 50%;
}
.card h3 {
    font-size: 1em;
    color: rgb(27, 27, 95);
    font-weight: bold;
}
.card p {
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 930px) {
    .container-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .container-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 470px) {
    .container-cards {
        grid-template-columns: 1fr;
    }
}